
CIDADE_SUFFIX=lem
GITHUB_TOKEN= 
APP_NAME="eTransito EstatÃƒÂ­stica - Atena API - LEM"
APP_DESCRIPTION="API de tratamentos estatÃƒÂ­sticos em apoio ÃƒÂ  engenharia de trÃƒÂ¡fego - LEM"
APP_VERSION="0.0.1"
APP_PREFIX="/api/v1"
DEBUG=True
REMOTE_HOST=servidor onde vai ser feito o deploy

REPORT_HEADER_1="TIVIC - Tecnologia, InovaÃƒÂ§ÃƒÂ£o e InformaÃƒÂ§ÃƒÂ£o"
REPORT_HEADER_2="PD&I - Pesquisa, Desenvolvimento e InovaÃƒÂ§ÃƒÂ£o"
REPORT_HEADER_3="Avenida Espanha, 74 - Candeias, VitÃƒÂ³ria da Conquista - BA"
REPORT_LOGO="app/assets/images/logo.png"
REPORT_FOOTER="eTrÃƒÂ¢nsito EstatÃƒÂ­stica - Atena API v0.1 - 2024"


#geo
GEO_PATH=""
DELTALAKE_PATH="s3a://..."
CONTAGEM_TABLE_NAME=""
INFRACAO_TABLE_NAME=""

MINIO_ENDPOINT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""



SPARK_DRIVER_MEMORY="5g"
SPARK_DRIVER_CORES="5"
SPAEK_EXECUTOR_MEMORY="5g"
SPAEK_EXECUTOR_CORES="5"


# Endpoint para notificaÃƒÂ§ÃƒÂ£o do autoheal
WEBHOOK_URL=https://discordapp.com/api/webhooks
